@import url('https://fonts.googleapis.com/css?family=Wire+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');


   body, html {
	box-sizing: border-box;
}
#page {
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(/img/fond-1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
#page header{
	background-image: linear-gradient(#144657,#2E748B, #144657);
}
.flex {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}
.grid {
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(12, 1fr);
}
hr{
	margin-left:1rem;
	width: 63%
}
p{
	font-family: Roboto;
}
.black{
	color:black
}

	/* ---------HEADER----------- */
	.header{
		align-items: center;
		justify-content: center;
		
	
	}
	.header-logo {
		min-width: 30%;
		width: calc((600px - 100%)*1000);
		max-width: 100%;
	}
	.header-logo img {
		width: 100%;
		-webkit-filter: drop-shadow(1px 1px 1px #222 );		
	}
	.header-spacer{
		background-image: linear-gradient(#525252,white,#525252);
		width: 100%;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center
	}
	.header-spacer p{
		color:orange;
		font-size:2.5rem;
		text-shadow: 1px 1px 1px black;
	}
	/* #page > header > p
	{font-size: 2rem;
		padding-right: 4rem;
		color:white;
		text-shadow: 1px 1px 2px black;
	 

	} */
	/* ----------ASIDE-------------------- */
	.aside-intro {
		min-width: 28%;
		width: calc((800px - 100%)*1000);
		max-width: 100%;
		text-align: justify;
		background-image: url(/img/fond-5.jpg);
		margin:1rem;
		padding:1rem;
		text-shadow: 1px 1px 2px black;
	}
	.title-font {
		font-family: "Wire One";
		font-size: 1.8rem;
		margin: 0;
		font-weight: bolder;
		color:#E6E5E0;
		
	}
	.title-font-strong{
		font-family: "Wire One";
		font-size: 2.6rem;
		margin: 0;
		color:#E6E5E0;

	}
	.title-intro {
		font-size:3rem;
		font-weight: 600;
		letter-spacing: 0.05rem;
		padding-top:6rem;
		padding-left: 1rem;
	
	}
	.par{
		font-size: 1.2rem;
		padding-left: 1rem;
		padding-right:1rem;
		font-weight: 100;
		font-family: roboto;
		line-height: 1.8rem
	}

	.par1-titre{
		font-family: 'Wire One';
		font-size:3rem;
		font-weight: 600;
		margin-top:0;
}
	.engmts{
		background-color: rgba(24,78,96,0.5);
		color:white;
		margin:1rem;
		padding:1rem;
		margin-top:6.2rem;
		text-shadow: 1px 1px 2px black;
		font-size:1.2rem
}

	.engmts ul li{
		line-height: 1.5rem;
	
}
	/* ------------MAIN------------- */
	.galerie {
		display: flex;
		min-width: 64%;
		width: calc((800px - 100%)*1000);
		max-width: 100%;
		justify-content: center;
		margin: auto ;
	}
	.galerie img{
		width: 100%;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	.galerie ul {
		position: relative;
		min-width: 50%;
		width: calc((800px - 100%)*1000);
		max-width: 100%;
	}
	.legende {
		background: #fff;
		grid-column: 1 / -1;
		grid-row: 2;
		transition: all 1s;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
	.legende p {
		margin:0;
		padding-left:1rem;
		padding-bottom: 0.5rem;
	}
	.legende .title-font{
		margin-top: 1rem;
		font-weight: 900;
		line-height: 2rem;
		letter-spacing: 0.1rem;
		color:black;
	}
	.bandeau{
		align-items:center;
	
	}
	.bandeau{
		font-weight: 900;
		line-height: 2rem;
		letter-spacing: 0.1rem;
		
	}
	img {
		grid-column: 1 / -1;
		grid-row: 1;

	}
	.bandeau {
		grid-column: span 12;
		display: flex;
		justify-content: space-between;
		background-image: linear-gradient(#DA771A,#F28A26, #DA771A); 
		padding: 0.5rem 0 0.5rem 0;
	}
	.mon-image {
		width: 12%;
		margin-left:1rem
	}
	.aggr{
		width: 15%
	}
	p1{
		font-family: Roboto;
		text-indent: 3rem
	}	
	.white{
		color:#E6E5E0;
	}
	.diaporama{
		margin:0 auto;
		min-width: 64%;
		width: calc((800px - 100%)*1000);
		max-width: 100%;
		margin:1rem;
		height: 25rem;
		background-image: url("/img/abri-voit.jpg");
		background-size: cover;
		

		animation-name:diapo;
		animation-duration:9s;
		animation-timing-function:linear;
		animation-iteration-count:infinite;
		animation-direction:normal;
	}
	@keyframes diapo{
		0%{background-image: url("/img/abri-voit.jpg");}
		33%{background-image: url("/img/escalier.jpg");}
		66%{background-image: url("/img/IMG_20180609_153234.jpg");}
	}

	/* ----------------------FOOTER-------- */
	#page footer{
		background-image: linear-gradient(#144657,#2E748B, #144657);
	}
	.coord{
		color:white;
		line-height: 0.5rem;
		padding:1rem;
		text-shadow: 1px 1px 2px black;
		text-align: center;
	}
	.name{
		font-family: "Wire One";
		font-size: 2rem;
		font-weight: 900;
		letter-spacing: 6px;
		margin:0;
	}
	.under-name{
		font-style: oblique
}
	a{
		text-decoration: none;
		color:orange;
		font-family: roboto;
	}
	a:hover {
		background-color: orange;
		color: black;
		padding:0.2rem
	}
	.legende {
		background: black;
		grid-row: 1;
		height: 100%;
		opacity: 0;
		color: white;
	}
	figure:hover .legende {
		opacity: .8;
	}
	.legende .title-font{
		color: white
}











