@media only screen and (max-width : 748px){
    
    /* -----------HEADER------------------- */
    #page header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        

    }
#page > header > p{
        font-size: 1.8rem;
        text-align: center;
        width: 100%;
        padding:0
    }
    .header-logo{
       
    }
/* --------ASIDE---------------- */
#page > main > div.aside-intro.white > p.title-font.title-intro{
    padding-top:1rem;
}
.par2,.par3{
        display: none
}
#page > main > div.aside-intro.white > div > ul{
    padding-left: 0;
}

.engmts{
    margin-top:0
}
   
   
   /*----------------4 sections-----------  */
   
    .grid{
       grid-template-columns: 25% 75%;
      
    }
    
    #page > main > div.galerie.flex > ul > li > figure{
        max-width:100%;
      
   }
   #page > main > div.galerie.flex > ul > li > figure > img{
       grid-column: 1;
       height: 100%;
   }
   #page > main > div.galerie.flex > ul > li > figure > div.bandeau.flex{
       grid-column: 2;
       grid-row: 1;  
   }

   #page > main > div.galerie.flex > ul > li > figure > div.legende.flex{
       grid-column:2;
    grid-row:1;
   
   }

  .bandeau-title > p{
      font-size:150%;
      line-height: 2.5rem
  }
  .bandeau .title-font-strong{
      font-size: 210%
  }
  .legende{
      justify-content: center;
      
  }
  .legende .title-font {
    display: none;
}
.legende p{
    line-height: 0.8rem
}
hr{display:none;}

.mon-image {
    width: 20%;
    margin-left:1rem
}
}